@charset "UTF-8";
.pageBlog{
	.animation-circle{
		max-width: 1000px;
		text-align: center;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			position: relative;
			width: 23%;
			margin-bottom: 40px;
			p{
				font-size: 2rem;
				text-align: center;
				padding-top: 20px;
			}
			span{
				position: relative;
				display: block;
				img{
					position: relative;
					z-index: 3;
				}
				&:after{
				z-index: 1;
				content: "";
				width: 98%;
				height: 98%;
				display: block;
				background: #703B00;
				border-radius: 50%;
				opacity: 0.5;
				animation: rotation1 4s both infinite linear;
				position: absolute;
				left:2%;
				top: 0;
			}
			&:before{
				z-index: 1;
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				background: #10770B;
				opacity: 0.5;
				border-radius: 50%;
				animation: rotation2 5s both infinite linear;
				position: absolute;
				left:0;
				top: 0;
			}
			}
			
		}
	}
}
