@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  採用情報
---------------------------------------*/
.catCareer{
}
/* トップ */
.catCareer.pageTop{
	.main{
		margin-bottom: -30vw;
		position: relative;
		overflow: hidden;
		.in{
			background-color: $mainColor;
			padding-top: 65px;
		}
		&:after{
			content: "";
			display: block;
			width: 0;
			height: 0;
			margin: auto;
			font-size: 0;
			border-style: solid;
			border-width: 0 0 30vw 100vw;
			border-color: transparent transparent transparent $mainColor;
		}
		.inner{
			max-width: 1252px;
			position: relative;
			.bg{
				background:url(../img/career/main_bg.png) center top no-repeat;
				background-size: 100% auto;
				padding-top: (683/1252) * $per;
				position: relative;
			}
			h2{
				display: table;
				width: 100%;
				height: 100%;
				color: #fff;
				font-size: 7.2rem;
				line-height: (95/72);
				position: absolute;
				top: 0;
				left: 0;
				> div{
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					> span{
						display: inline-block;
						height: 8.5em;
						padding-top: 1em;
						-webkit-writing-mode: vertical-rl;
						-moz-writing-mode: vertical-rl;
						-ms-writing-mode: tb-rl;
						-ms-writing-mode: vertical-rl;
						writing-mode: vertical-rl;
						text-align: left;
					}
				}
			}
		}
	}
	.content{
		padding-top: 50px;
		position: relative;
		.tags{
			background-color: #fff;
			padding: 20px 30px 30px;
			text-align: center;
			box-shadow: 0 7px 7px rgba(0,0,0,0.11);
			dt{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 10px;
				color: $mainColor;
				span{
					display: inline-block;
					margin-right: 15px;
					font-size: 17.0rem;
					line-height: 1;
					opacity: 0.6;
				}
				h3{
					font-size: 4.0rem;
					line-height: (47/40);
					border-bottom: 1px solid #bfd7bf;
				}
			}
			dd{
				padding: 0 50px;
				a{
					display: inline-block;
					margin: 0 0.5em 1em;
					color: $mainColor;
					font-size: 2.0rem;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		.links1{
			padding-top: 65px;
		}
	}
	@include mqMaxW(1282px){
		.main{
			.inner{
				h2{
					font-size: (72/1282) * 100vw;
				}
			}
		}
	}
	@include mq{
		.main{
			.in{
				padding-top: 0;
			}
			&:after{
			}
			.inner{
				.bg{
				}
				h2{
					> div{
						> span{
						}
					}
				}
			}
		}
		.content{
			padding-top: 5%;
			.tags{
				padding: (10/320) * 100vw;
				box-shadow: 0 7px 7px rgba(0,0,0,0.11);
				dt{
					margin-bottom: 3%;
					span{
						margin-right: 3%;
						font-size: 6.0rem;
					}
					h3{
						font-size: 1.8rem;
					}
				}
				dd{
					padding: 0;
					a{
						font-size: 1.4rem;
						&:hover{
						}
					}
				}
			}
			.links1{
				padding-top: 10%;
			}
		}
	}
}
/* 人材育成への想い */
.catCareer.pageTrain{
}
/* 募集要項 */
.catCareer.pageRecruit{
	.mainImg{
		img{
			width: 100%;
		}
	}
	.statueZone{
		padding-top: 55px;
		ul{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			color: #fff;
			li{
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $mainColor;
				width: 31.4%;
				height: 108px;
				margin-bottom: 24px;
				font-size: 2.0rem;
				text-align: center;
				box-sizing: border-box;
			}
		}
		dl{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #727272;
			margin-top: 10px;
			padding: 15px 30px;
			color: #fff;
		}
		dt{
			padding:5px 35px 5px 0;
			font-size: 2.2rem;
			text-align: center;
			line-height: (32/22);
			border-right: 1px solid #fff;
		}
		dd{
			padding-left: 35px;
			font-size: 1.8rem;
			line-height: (32/18);
			span{
				margin-right: 1.5em;
			}
		}
	}
	.bosyuZone{
		padding: 140px 0 70px;
		.pageScrl{
			margin-bottom: 40px;
			a{
				font-size: 1.6rem;
			}
		}
		.tblBox1{
			.btnWrap{
				a{
					width: 364px;
				}
			}
		}
	}
	@include mq{
		.mainImg{
			img{
			}
		}
		.statueZone{
			padding-top: 5%;
			ul{
				display: block;
				li{
					width: auto;
					height: auto;
					margin-bottom: 3%;
					padding: 3%;
					font-size: 1.4rem;
				}
			}
			dl{
				display: block;
				margin-top: 5%;
				padding: 3%;
			}
			dt{
				padding:0 0 3% 0;
				font-size: 1.8rem;
				border-bottom: 1px solid #fff;
				border-right: none;
			}
			dd{
				padding:3% 0 0 0;
				font-size: 1.4rem;
				span{
					display: block;
					margin-right: 0;
				}
			}
		}
		.bosyuZone{
			padding: 10% 0 1%;
			.pageScrl{
				margin-bottom: 5%;
				a{
					font-size: 1.4rem;
				}
			}
			.tblBox1{
				.btnWrap{
					a{
						width: auto;
					}
				}
			}
		}
	}
}
/* 社員エピソード集 */
.catCareer.pageEpisode{
}

