@charset "UTF-8";

@import "mq";
@import "var";


.introduce-box {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  .ttl1 {
    line-height: 1.6;
  }

  dl {
    display: flex;
    justify-content: space-between;

    &.reverse {
      flex-direction: row-reverse;
    }

    dt {
      width: 20%;
      text-align: center;

      span {
        display: block;
        text-align: center;
      }
    }

    dd {
      width: 80%;
    }

    img {
      max-width: 100%;

    }
  }
}

