@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
 要素
---------------------------------------*/
img{max-width: 100%;}


/*--------------------------------------
 パーツ
---------------------------------------*/
/* インナー */
.inner{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	&.sz2{
		max-width: 1000px;
	}
	&.sz3{
		max-width: 800px;
	}
	@include mq{
		padding-left: (15/320) * $per;
		padding-right: (15/320) * $per;
	}
}


/* タイトル */
.ttl1{
	margin-bottom: 45px;
	font-size: 3.5rem;
	line-height: 1;
	text-align: center;
	&:before{
		content: "";
		display: block;
		background-color: $mainColor;
		width: 93px;
		height: 5px;
		margin:0 auto (20/35) * 1em;
	} 
	em{
		display: block;
		margin-bottom: 15px;
		color: #3bab3e;
		@include noto;
		font-size: 1.7rem;
	}
	@include mq{
		margin-bottom: (40/640) * 100vw;
		> div{
			font-size: (3.5/2) * 1rem;
			> .lines{
				width: (93/640) * 100vw;
				margin-bottom: (15/640) * 100vw;
			} 
			> em{
				margin-bottom: (15/640) * 100vw;
				font-size: (1.7/2) * 1rem;;
			}
		}
	}
}
.ttl2{
	margin-bottom: 30px;
	text-align: center;
	> div{
		display: inline-block;
		font-size: 5.0rem;
		span{
			display: block;
			margin-bottom: (10/50) * 1em;
			padding-bottom: (6/50) * 1em;
			border-bottom: 1px solid #bdbdbd;
		}
		small{
			display: block;
			color: #bdbdbd;
			font-size: (28/50) * 1em;
		}
	}
}


/* テキスト */
.lead1{
	margin-bottom: 50px;
	@include noto;
	font-size: 1.6rem;
}


/* 背景色 */
.bgGrey1{
	background-color: #f0f0f0;
}


/* ボタン */
.btn{
	display: inline-block;
	background-color: #ff3649;
	padding: 10px 17px;
	color: #fff;
	box-shadow: 0 3px 0 #c31a2a;
	border-radius: 4px;
	&.withIcn{//アイコン付き
		display: flex;
		align-items: center;
	}
	&.clr2{//色2
	}
}


/* アイコン */
.icnMail{@include icn("\f0e0");}


/* ライン */
.lines{//5色の戦
	display: flex;
	height: 5px;
	font-size: 0;
	hr{
		display: block;
		width: 20%;
		height: 100%;
		&:nth-child(1){background-color: #358f31;}
		&:nth-child(2){background-color: #65bf2e;}
		&:nth-child(3){background-color: #3bab3e;}
		&:nth-child(4){background-color: #bfb62e;}
		&:nth-child(5){background-color: #17ba6f;}
	}
	@include mq{
		height: (5/640) * 100vw;
	}
}


/* 画像 */
.circleImg{//画像を丸にする(画像は正方形～横長にする)
	padding-top: 100%;
	font-size: 0;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	.imgWrap{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		img{
			max-width: none;
			height: 100%;
		}
	}
}


/* 状態 */
.dis_flex_block{//pcではflex、spではblock
	display: flex;
	@include mq{
		display: block;
	}
}


/*--------------------------------------
 プラグイン
---------------------------------------*/
/* Slick */
.slick-slider{margin-bottom: 0;}
.slick-dots li{
	background-color: #8c8c8c;
	width: 15px;
	height: 15px;
	margin: 0 7.5px;
	border-radius: 50%;
	&.slick-active{
		background-color: #4b972b;
	}
	@include mq{
		width: (15/640) * 100vw;
		height: (15/640) * 100vw;
		margin: 0 (7.5/640) * 100vw;
	}
}

