@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  デイサービス
---------------------------------------*/
.catDayservice{
  
    .officeTop{
        font-size: 2.2rem;
        padding: 20px 100px;
        position: fixed;
        right: 0px;
        bottom: 0px;
        background: $mainColor;
        color: #FFF;
        text-align: center;
        display: inline-block;
        z-index: 9999;
      @include mq{
        font-size: 1.6rem;
        padding: 10px 20px;
      }
        &:before{
            content: "";
            width: 8px;
            height: 8px;
            border-top: 2px solid #FFF;
            border-right: 2px solid #FFF;
            display: inline-block;
            transform: rotate(-45deg);
            margin-right: 10px;
        }
    }
    .officeBtns{
        text-align: left;
        display: flex;
        justify-content: flex-start;
        padding: 10px 0;
        a{
            width: 33.3%;
            box-sizing: border-box;
            font-size: 1.5rem;
            text-align: center;
            display: inline-block;
            border: 1px solid #CCC;
          border-right: 0px;
          color: #333;
            padding: 10px 5px;
          &:last-child{
            border-right: 1px solid #CCC;
          }
            &:before{
                background-size: contain;
                background-repeat: no-repeat;
                vertical-align: middle;
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background-size: contain;
                margin-right: 5px;
            }
            @include mq{
                font-size: 1.2rem;
                padding: 2%;
            }
            &.btnBlog{
                &:before{
                    background-image: url(../img/ft_sns_blog.png);
                   
                }
            }
            &.btnTwitter{
                &:before{
                    background-image: url(../img/ft_sns_tw_top.png);
                }
            }
            &.btnInstagram{
                &:before{
                    background-image: url(../img/ft_sns_insta_top.png);
                }
            }
        }
    }
}
.catDayservice.pageDayTop{
    .top-copy{
        text-align: center;
        padding: 70px 0 0 0;
        font-size: 5rem;
        @include mq{
            font-size: 1.8rem;
            padding: 30px 0 0 0;
        }
    }
    .day-box{
        display: flex;
        padding: 70px 0 0 0;
        align-items: center;
        @include mq(l){
            display: block;
            .photo{
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
        @include mq{
            padding: 30px 0 0 0;
        }
        .txt{
            padding: 40px;
            box-sizing: border-box;
            width: 50%;
            @include mq(l){
                width: 100%;
                padding: 0px;
                margin: 0 auto;
            }
            p{
                font-size: 1.6rem;
                padding-bottom: 15px;
                line-height: 1.8;
                @include mq{
                    font-size: 1.3rem;
                    padding: 10px 0 0 0;
                    br{
                        display: none;
                    }
                }
            }
        }
        &.day-box2{
            flex-direction: row-reverse;
            .txt{
                padding:0 20px 0 10px;
                @include mq(l){
                    padding: 0px;
                }
            }
        }
        &.day-box3{
            padding-bottom: 70px;
            @include mq{
                padding-bottom: 30px;
            }
        }
    }
  .catch-text{
    padding: 50px 0;
    font-size: 3rem;
    color: #FFF;
    text-align: center;
    background: $mainColor;
    @include mq{
      padding: 5% 3%;
      font-size: 1.5rem;
      br.sp{
        display: inline !important;
      }
    }
  }
    .featureBlock2{
			padding: 50px 0;
      margin: 0 auto;
      font-size: 2rem;
      line-height: 1.8;
      @include mq{
        font-size: 1.2rem;
      }
      li{
        display: flex;
        background: #FFF;
        margin-bottom: 30px;
        @include mq{
          display: block;
          padding-bottom: 5%;
        }
        &:nth-child(even){
          flex-direction: row-reverse;
        }
        & > div{
          width: 50%;
          box-sizing: border-box;
          @include mq{
            width: 100%;
          }
          &.txt{
            display: flex;
            padding: 0 80px;
            align-content: center;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @include mq{
              padding: 4%;
            }
            h3{
              text-align: center;
              font-size: 3rem;
             margin-bottom: 1em;
              @include mq{
                font-size:2rem;
              }
              em{
                display: block;
              }
              strong{
                display: inline-block;
                 font-size:5rem;
                padding: 0 0.3em 0.3em 0.3em;
                border-bottom: 1px solid #000;
                margin-bottom: 0.3em;
                @include mq{
                  font-size: 5vw;
                }
              }
            }
          }
        }
        p{
          font-size: 1.6rem;
          @include noto;
          @include mq{
            font-size: 1.3rem;
          }
        }
      }
  }
    .featureBlock{
			padding: 50px 0;
      max-width: 900px;
      margin: 0 auto;
      font-size: 1.6rem;
			@include mq{
      font-size: 1.3rem;
				margin-top: 25px;
				padding: 25px 0;
          text-align: left;
        .taC{
          text-align: left;
        }
        .inner-s{
          padding: 0 3%;
        }
			}
      p{
        padding-bottom: 1em;
        line-height: 1.8;
        @include noto;
        @include mq{
          
          text-align: left;
        }
        &.txt2{
        font-size: 1.8rem;
        font-weight: bold;
          @include mq{
            font-size: 1.4rem;
          }
        }
        &.txt3{
          color: $mainColor;
          font-size: 1.8rem;
          font-weight: bold;
          @include mq{
            font-size: 1.4rem;
          }
        }
        &.voice{
          padding: 1em;
          background: #EEEEEE;
          border-radius: 5px;
          margin-bottom: 1em;
        }
      }
    }

    
}
/* 事業所 */
.catDayservice.pageOffice{
  
	.acrdList{
		.accSlkBox{
			text-align: center;
			position: relative;
		}
		.accBtn{
			
			background-color: $mainColor;
			color: #fff !important;
			padding: 40px 2.4em;
			color: $mainColor;
			font-size: 3.0rem;
      margin-bottom: 40px;
			font-weight: bold;
			position: relative;
			transition: 0.3s;
      @include mq{
        margin-bottom: 3%;
      }
        
		}
		.accCont{
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      padding-bottom: 80px;
      justify-content: space-between;
      @include mq{
        display: block;
        width: 94%;
        margin: 0 auto;
      }
      .office-box{
        width: 48%;
          .payZone{
              h5{
                  text-align: left;
              }
          }
        @include mq{
          width: 100%;
        }
      }
			.mainImg{
				margin-bottom: 15px;
        position: relative;
        @include mq{
          display: none;
        }
        img{
          width: 100%;
          height: auto;
        }
                p{
                    position: absolute;
                    left: 5%;
                    top: 40%;
                    font-size: 3rem;
                    color: #FFF;
                    text-shadow: 2px 2px 2px #000;
                }
			}
			.thisLead{
       margin: 0 auto 50px auto;
				font-size: 1.6rem;
				line-height: (26/16);
                text-align: left;
				@include noto;
                strong{
                    display: block;
                    color: $mainColor;
                    font-weight: bold;
                    margin: 40px 0 10px 0;
                    font-size: 2rem;
                  @include mq{
                    font-size: 1.6rem;
                    margin: 2px 0 10px 0;
                  }
                }
			}
			.officeSlk,.officeSlk2{
				.slick-arrow{
					&:before{
						content: normal;
					}
					content: "";
					display: inline-block;
					width: 32px;
					height: 32px;
					margin-right: 0.5em;
					border-style: solid;
					border-width: 7px 7px 0 0;
					border-color: #38a23b #38a23b transparent transparent;
					box-sizing: border-box;
					&.slick-prev{
						left: -64px;
						transform: rotate(-135deg);
					}
					&.slick-next{
						right: -64px;
						transform: rotate(45deg);
					}
				}
				.slick-list{
					margin: 0 -10px;
				}
        ul{
          text-align: left;
          letter-spacing: -.4em;
          margin-left: -10px;
          .liItem{
            letter-spacing: normal;
            display: inline-block;
            width: 87px;
            height: 87px;
            margin:0 0 10px 10px;
            img.selected{
              opacity: 0.5;
            }
            @include mq{
              height: auto;
              width: 100%;
              img{
                width: 100%;
                height: auto;
              }
            }
          }
        }
			}
      
			.infoBox{
        width: 48%;
        @include mq{
          width: 100%;
        }
        h3{
      font-size: 2.8rem;
    color: #358f31;
    font-weight: bold;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #358f31;
    margin-bottom: 30px;
          @include mq{
            font-size: 2rem;
            margin-bottom: 2%;
            padding-bottom: 2%;
            margin-top: 5%;
          }
        }
				> ul{
					> li{
						dt{
							margin-bottom: 30px;
							font-size: 3.0rem;
              display: none;
							font-weight: bold;
							span{
								display: inline-block;
								padding-bottom: 3px;
								border-bottom: 1px solid #000;
							}
						}
						&.access{
							dd{
								position: relative;
								iframe{
									width: 100%;
									height: 300px;
								}
							}
						}
						&.gaiyo{
              padding-top: 30px;
							dd{
								table{
									width: 100%;
									@include noto;
									font-size: 1.4rem;
									text-align: left;
									$padTB: 5px;
									tr{
										border-top: 1px solid #ccc;
									}
									th{
										padding: $padTB 40px $padTB 0;
									}
									td{
										padding: $padTB 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include mq{
		.acrdList{
		> ul{
			> li{
				&:before{
					padding-top: 40%;
				}
			}
		}
		.accSlkBox{
			text-align: left;
		}
		.accBtn{
			padding: (15/320) * $per (40/320) * $per (15/320) * $per (15/320) * $per;
			font-size: 1.6rem;
			&:after{
				right: 6%;
			}
			&.show{
				&:after{
				}
			}
		}
		.accCont{
			padding-bottom: (10/320) * $per;
			.mainImg{
				margin-bottom: (20/320) * $per;
			}
			.thisLead{
				margin-bottom: (20/320) * $per;
				font-size: 1.4rem;
				line-height: 1.4;
			}
			.officeSlk{
				margin-bottom: 10%;
				padding: 0;
				.slick-slider{
					
				}
				.slick-dots{
          position: relative;
					bottom: 0;
          text-align: center;
				}
				.slick-list{
					margin: 0 -5px;
				}
				.liItem{
					padding: 0 5px;
				}
			}
			.infoBox{
				> ul{
					display: block;
					> li{
						width: auto;
						& + li{
							margin-top: 10%;
						}
						dt{
							margin-bottom: 1em;
							font-size: 2.0rem;
							text-align: center;
							span{
								padding-bottom: 1%;
							}
						}
						&.access{
							dd{
								iframe{
								}
							}
						}
						&.gaiyo{
							dd{
								table{
									$padTB: 2%;
									tr{
									}
									th{
										padding: $padTB 5% $padTB 0;
									}
									td{
										padding: $padTB 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	}
  
  
  
}
/* よくある質問 */
.catDayservice.pageQa{
	.content{
		padding: 50px 0 100px;
	}
	.accBox{
		> li{
			border-bottom: 1px solid #529f4f;
		}
	}
	.accBtn{
		padding: 30px 3em 30px 0;
		color: $mainColor;
		font-size: 2.2rem;
		font-weight: bold;
		position: relative;
		transition: 0.3s;
		&:after{
			content: "";
			display: inline-block;
			width: (25/30) * 1em;
			height: (25/30) * 1em;
			margin: auto;
			border-style: solid;
			border-width: (6/30) * 1em (6/30) * 1em 0 0;
			border-color: $mainColor $mainColor transparent transparent;
			box-sizing: border-box;
			transform: rotate(135deg);
			position: absolute;
			top: 0;
			bottom: 0.5em;
			right: 35px;
		}
		&.show{
			&:after{
				transform: rotate(-45deg);
				top: 0.5em;
				bottom: 0;
			}
		}
	}
	.accCont{
		display: none;
		padding-bottom: 30px;
		@include noto;
		font-size: 1.6rem;
		line-height: (26/16);
		p{
			& + p{
				margin-top: 1em;
			}
			em{
				background:linear-gradient(transparent 40%, #fc0 40%, #fc0 90%, transparent 90%);
				position: relative;
			}
		}
	}
	@include mq{
		.content{
			padding: (25/320) * $per 0 (30/320) * $per;
		}
		.accBox{
			> li{
			}
		}
		.accBtn{
			padding: (15/320) * 100vw 3em (15/320) * 100vw 0;
			font-size: 1.6rem;
			&:after{
				width: (20/30) * 1em;
				height: (20/30) * 1em;
				right: 1%;
			}
			&.show{
				&:after{
				}
			}
		}
		.accCont{
			padding-bottom: (15/320) * 100vw;
			font-size: 1.4rem;
			line-height: 1.5;
			p{
				& + p{
				}
				em{
				}
			}
		}
	}
}
/* クローバーの介護観 */
.catDayservice.pageCare{
	.inner{
		.ttl2{
			padding-bottom: 30px;
			margin-bottom: 0px;
		}
	}
	section{
		background: #FFF;
	}
	#pankz{
		background: #FFF;
	}
	.content{
		padding: 65px 0 0px;
		text-align: center;
        background-color: #EEE;
		.thisLead{
			display: flex;
			@include noto;
			font-size: 1.6rem;
			line-height: (26/16);
			.img{
				width: 40%;
			}
			.txts{
				width: 60%;
				padding-left: 20px;
				text-align: left;
				box-sizing: border-box;
			}
			p{
				& + p{
					margin-top: 0.7em;
				}
			}
		}
	}
	.careBox{
		background-color: #eee;
		padding: 50px 0 50px;
		.box{
			background:url(../img/dayservice/care/quote.png) left 47px no-repeat rgba(255,255,255,0.3);
			padding: 80px 40px 40px;
			p{
				@include noto;
				font-size: 1.6rem;
				line-height: (26/16);
				text-shadow: 0 0 5px #fff;
				&.name{
					margin-top: 5px;
					text-align: right;
				}
			}
		}
	}
	@include mq{
		&:before{
//			content: "";
			background:url(../img/dayservice/care/care_bg_fix.jpg) top center no-repeat;
			background-size: cover;
			width: 100vw;
			height: 100vh;
			position: fixed;
			top: 0;
			bottom: 0;
		}
		.spCont{
			position: relative;
		}
		.content{
			padding: (25/320) * $per 0 (15/320) * $per;
			.thisLead{
				display: block;
				font-size: 1.4rem;
				text-align: left;
				line-height: 1.4;
				.img{
					width: auto;
				}
				.txts{
					width: auto;
					padding: 3% 0 0;
					p{
						& + p{
							margin-top: 0.7em;
						}
					}
				}
			}
		}
		.careBox{
			padding: (15/320) * $per 0;
			position: relative;
			.box{
				background-position: left 1em;
				background-size: 4em auto;
				padding: (30/320) * 100vw (15/320) * 100vw (15/320) * 100vw;
				font-size: 1.4rem;
				position: relative;
				p{
					font-size: inherit;
					line-height: 1.4;
					&.name{
						margin-top: 0.5em;
					}
				}
			}
		}
	}
}
/* デイサービスクローバーの一日 */
.catDayservice.pageDay{
  .pageNavi{
    font-size: 2rem;
    @include mq{
      font-size: 1.2rem;
      padding: 1em 0 3em 0;
    }
    a{
      display: inline-block;
      margin: 0 1em;
      color: $mainColor;
      @include mq{
        margin: 0;
        &:first-of-type{
          margin-right: 1em;
        }
      }
      &:hover{
      text-decoration: underline;
      }
		&:before{
			content: "";
			display: inline-block;
			width: 0.6em;
			height: 0.6em;
			margin:-0.2em 0.5em 0 0;
			border-style: solid;
			border-width: 0.2em 0.2em 0 0;
			border-color: $mainColor $mainColor transparent transparent;
			box-sizing: border-box;
			transform: rotate(135deg);
			transition: inherit;
		}
    }
  }
	.dayZone{//クローバーの１日
		padding-top: 75px;
		text-align: center;
		.inner{
			&.no1{
				padding-bottom: 140px;
			}
		}
		.pageScrl{
			margin-bottom: 70px;
			font-size: 1.7rem;
			font-weight: bold;
			.clkScrl{
				width: 233px;
				padding: 9px 0;
				& + .clkScrl{
					margin-left: 33px;
				}
			}
		}
		.thisLead{
			@include noto;
			font-size: 1.6rem;
			line-height: (26/16);
		}
		.flowBox{
			> li{
				background-color: #fff;
				position: relative;
				padding-top: 50px;
				h4{
					display: block;
					background-color: inherit;
					width: 170px;
					height: 170px;
					margin: auto;
					padding-top: 0.7em;
					font-size: 3.5rem;
					letter-spacing: 0;
					border-radius: 50% 50% 0 0;
					box-sizing: border-box;
					position: absolute;
					top: -66px;
					left: 0;
					right: 0;
					span{
						margin: 0 -0.2em;
					}
				}
				> .inner{
					padding: 0 60px 130px;
					position: relative;
					&:before{
//						content: "";
						background-color: #f0f0f0;
						width: 8px;
						margin: auto;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
				}
				.flowDtl{
					> li{
						display: flex;
						justify-content: space-between;
						align-items: center;
						position: relative;
						dl{
							width: 100%;
							@include noto;
							text-align: left;
						}
						dt{
							margin-bottom: 0.5em;
							padding: 0.5em 0 0.5em 80px;
							color: $mainColor;
							font-size: 2.2rem;
							line-height: (30/22);
							border-bottom: 1px solid $mainColor;
							small{
								display: inline-block;
								font-size: (15/22) * 1em;
							}
						}
						dd{
							padding: 0 0 10px 80px;
							font-size: 1.6rem;
							line-height: (25/16);
						}
						.time{
							display: flex;
							flex-shrink: 0;
							justify-content: center;
							align-items: center;
							background-color: $mainColor;
							width: 111px;
							height: 111px;
							color: #fff;
							@include noto;
							font-size: 2.0rem;
							border-radius: 50%;
							position: absolute;
							top: 0;
							left: -51px;
						}
						.img{
							flex-shrink: 0;
//							width: 69.7%;
							width: 50%;
							position: relative;
							img{
								border-radius: 10px;
							}
							.time{
								top: -17px;
							}
						}
						& + li{
							margin-top: 50px;
						}
						&:nth-child(2n){
//							flex-direction: row-reverse;
							dl{
							}
							dt{
							}
							dd{
							}
						}
						&.hasImg{
							dt{
								padding: 0.5em 0 0.5em 20px;
							}
							dd{
								padding: 0 0 10px 20px;
							}
							&:nth-child(2n){
								dt{
//									padding: 0.5em 10px 0.5em 0;
								}
								dd{
//									padding: 0 10px 10px 0;
								}
							}
						}
					}
				}
				&:nth-child(2n){
					background-color: #f0f0f0;
					> .inner{
						&:before{
							background-color: #fff;
						}
					}
					.flowDtl{
						> li{
							dd{
							}
						}
					}
				}
				&:last-child{
					padding-bottom: 80px;
					> .inner{
						padding-bottom: 0;
					}
				}
			}
		}
	}
	@include mq{
		.dayZone{//クローバーの１日
			padding-top: 10%;
			.inner{
				&.no1{
					padding-bottom: 20%;
				}
			}
			.pageScrl{
				margin-bottom: 10%;
				font-size: 1.2rem;
				.clkScrl{
					width: 48%;
					padding: 2.4vw 0;
					& + .clkScrl{
						margin-left: 4%;
					}
				}
			}
			.thisLead{
				font-size: 1.3rem;
			}
			.flowBox{
				> li{
					padding-top: 5%;
					h4{
						width: (120/320) * 100vw;
						height: (120/320) * 100vw;
						font-size: 2.4rem;
						top: -15vw;
						span{
						}
					}
					> .inner{
						padding: 0 (15/320) * $per (65/320) * $per;
					}
					.flowDtl{
						> li{
              display: block;
							dl{
								width: auto;
							}
							dt{
								padding: 0.5em 0 0.5em 15vw;
								font-size: 1.8rem;
								small{
								}
							}
							dd{
								padding: 0 0 0.5em 0;
								font-size: 1.4rem;
							}
							.time{
								width: 15vw;
								height: 15vw;
								margin: auto;
								font-size: 0.9rem;
                left: -3vw;
							}
							.img{
								width: auto;
								img{
									margin-top: 5%;
								}
								.time{
								}
							}
							& + li{
								margin-top: 5%;
							}
							&:nth-child(2n){
								dl{
								}
								dt{
								}
								dd{
								}
							}
							&.hasImg{
								dt{
									padding: 0.5em 0;
								}
								dd{
									padding: 0 0 0.5em 0;
								}
								&:nth-child(2n){
									dt{
									}
									dd{
									}
								}
							}
						}
					}
					&:nth-child(2n){
						> .inner{
							&:before{
							}
						}
						.flowDtl{
							> li{
								dd{
								}
							}
						}
					}
					&:last-child{
						padding-bottom: 5%;
						> .inner{
						}
					}
				}
			}
		}
	}
}




