@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  デイサービス
---------------------------------------*/
.catDayservice{
}
.catDayservice.pageDayTop{
    .top-copy{
        text-align: center;
        padding: 70px 0 0 0;
        font-size: 5rem;
        @include mq{
            font-size: 1.8rem;
            padding: 30px 0 0 0;
        }
    }
    .day-box{
        display: flex;
        padding: 70px 0 0 0;
        align-items: center;
        @include mq(l){
            display: block;
            .photo{
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
        @include mq{
            padding: 30px 0 0 0;
        }
        .txt{
            padding: 40px;
            box-sizing: border-box;
            width: 50%;
            @include mq(l){
                width: 100%;
                padding: 0px;
                margin: 0 auto;
            }
            p{
                font-size: 1.6rem;
                padding-bottom: 15px;
                line-height: 1.8;
                @include mq{
                    font-size: 1.3rem;
                    padding: 10px 0 0 0;
                    br{
                        display: none;
                    }
                }
            }
        }
        &.day-box2{
            flex-direction: row-reverse;
            .txt{
                padding:0 20px 0 10px;
                @include mq(l){
                    padding: 0px;
                }
            }
        }
        &.day-box3{
            padding-bottom: 70px;
            @include mq{
                padding-bottom: 30px;
            }
        }
    }
    
    .featureBlock{
        padding: 50px 0;
        @include mq{
            margin-top: 25px;
            padding: 25px 0;
        }
        .featureBox{
        display: flex;
            justify-content: space-between;
            @include mq{
                display: block;
            }
            dl{
                width: 32%;
                box-sizing: border-box;
                padding: 20px;
                border: 5px solid $mainColor;
                margin: 20px 0;
                @include mq{
                    width: auto;
                }
                dt{
                    font-size: 1.7rem;
                    text-align: center;
                    color: $mainColor;
                    font-weight: bold;
                    padding-bottom: 15px;
                }
                dd{
                    font-size: 1.5rem;
                    @include noto;
                    line-height: 1.8;
                    @include mq{
                        font-size: 1.3rem;
                    }
                }
            }
    }
    }

    
}
/* 事業所 */
.catDayservice.pageOffice{
	.acrdList{
		> ul{
			border-bottom: 1px solid #42963f;
			> li{
				border-top: 1px solid #42963f;
				position: relative;
				overflow: hidden;
				&:before{
					content: "";
					display: block;
					background-color: $mainColor;
					padding-top: 393px;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
				}
			}
		}
		.accSlkBox{
			text-align: center;
			position: relative;
		}
		.accBtn{
			background-color: #fff;
			padding: 40px 2.4em;
			color: $mainColor;
			font-size: 3.0rem;
			font-weight: bold;
			position: relative;
			transition: 0.3s;
			&:after{
				content: "";
				display: inline-block;
				width: (25/30) * 1em;
				height: (25/30) * 1em;
				margin: auto;
				border-style: solid;
				border-width: (6/30) * 1em (6/30) * 1em 0 0;
				border-color: $mainColor $mainColor transparent transparent;
				box-sizing: border-box;
				transform: rotate(135deg);
				position: absolute;
				top: 0;
				bottom: 0.5em;
				right: 35px;
			}
			&.show{
				background-color: transparent;
				color: #fff;
				&:after{
					border-color: #fff #fff transparent transparent;
					transform: rotate(-45deg);
					top: 0.5em;
					bottom: 0;
				}
			}
		}
		.accCont{
			display: none;
			padding-bottom: 85px;
			.mainImg{
				margin-bottom: 30px;
                position: relative;
                p{
                    position: absolute;
                    left: 5%;
                    top: 40%;
                    font-size: 3rem;
                    color: #FFF;
                    text-shadow: 2px 2px 2px #000;
                }
			}
			.thisLead{
				margin-bottom: 40px;
				font-size: 1.6rem;
				line-height: (26/16);
				@include noto;
			}
			.officeSlk{
				margin-bottom: 90px;
				padding: 0 64px;
				.slick-arrow{
					&:before{
						content: normal;
					}
					content: "";
					display: inline-block;
					width: 32px;
					height: 32px;
					margin-right: 0.5em;
					border-style: solid;
					border-width: 7px 7px 0 0;
					border-color: #38a23b #38a23b transparent transparent;
					box-sizing: border-box;
					&.slick-prev{
						left: -64px;
						transform: rotate(-135deg);
					}
					&.slick-next{
						right: -64px;
						transform: rotate(45deg);
					}
				}
				.slick-list{
					margin: 0 -10px;
				}
				.liItem{
					padding: 0 10px;
				}
			}
			.infoBox{
				> ul{
					display: flex;
					justify-content: space-between;
					> li{
						width: 47.5%;
						dt{
							margin-bottom: 30px;
							font-size: 3.0rem;
							font-weight: bold;
							span{
								display: inline-block;
								padding-bottom: 3px;
								border-bottom: 1px solid #000;
							}
						}
						&.access{
							dd{
								padding-top: (496/475) * $per;
								position: relative;
								iframe{
									width: 100%;
									height: 100%;
									border: none;
									position: absolute;
									top: 0;
									left: 0;
								}
							}
						}
						&.gaiyo{
							dd{
								table{
									width: 100%;
									@include noto;
									font-size: 1.4rem;
									text-align: left;
									$padTB: 5px;
									tr{
										border-top: 1px solid #ccc;
									}
									th{
										padding: $padTB 40px $padTB 0;
									}
									td{
										padding: $padTB 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include mq{
		.acrdList{
		> ul{
			> li{
				&:before{
					padding-top: 40%;
				}
			}
		}
		.accSlkBox{
			text-align: left;
		}
		.accBtn{
			padding: (15/320) * $per (40/320) * $per (15/320) * $per (15/320) * $per;
			font-size: 1.6rem;
			&:after{
				right: 6%;
			}
			&.show{
				&:after{
				}
			}
		}
		.accCont{
			padding-bottom: (10/320) * $per;
			.mainImg{
				margin-bottom: (20/320) * $per;
			}
			.thisLead{
				margin-bottom: (20/320) * $per;
				font-size: 1.4rem;
				line-height: 1.4;
			}
			.officeSlk{
				margin-bottom: 10%;
				padding: 0;
				.slick-slider{
					padding-bottom: 10%;
				}
				.slick-dots{
					bottom: 0;
				}
				.slick-list{
					margin: 0 -5px;
				}
				.liItem{
					padding: 0 5px;
				}
			}
			.infoBox{
				> ul{
					display: block;
					> li{
						width: auto;
						& + li{
							margin-top: 10%;
						}
						dt{
							margin-bottom: 1em;
							font-size: 2.0rem;
							text-align: center;
							span{
								padding-bottom: 1%;
							}
						}
						&.access{
							dd{
								iframe{
								}
							}
						}
						&.gaiyo{
							dd{
								table{
									$padTB: 2%;
									tr{
									}
									th{
										padding: $padTB 5% $padTB 0;
									}
									td{
										padding: $padTB 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	}
}
/* よくある質問 */
.catDayservice.pageQa{
	.content{
		padding: 70px 0 100px;
	}
	.accBox{
		> li{
			border-bottom: 1px solid #529f4f;
		}
	}
	.accBtn{
		padding: 30px 3em 30px 0;
		color: $mainColor;
		font-size: 2.2rem;
		font-weight: bold;
		position: relative;
		transition: 0.3s;
		&:after{
			content: "";
			display: inline-block;
			width: (25/30) * 1em;
			height: (25/30) * 1em;
			margin: auto;
			border-style: solid;
			border-width: (6/30) * 1em (6/30) * 1em 0 0;
			border-color: $mainColor $mainColor transparent transparent;
			box-sizing: border-box;
			transform: rotate(135deg);
			position: absolute;
			top: 0;
			bottom: 0.5em;
			right: 35px;
		}
		&.show{
			&:after{
				transform: rotate(-45deg);
				top: 0.5em;
				bottom: 0;
			}
		}
	}
	.accCont{
		display: none;
		padding-bottom: 30px;
		@include noto;
		font-size: 1.6rem;
		line-height: (26/16);
		p{
			& + p{
				margin-top: 1em;
			}
			em{
				background:linear-gradient(transparent 40%, #fc0 40%, #fc0 90%, transparent 90%);
				position: relative;
			}
		}
	}
	@include mq{
		.content{
			padding: (25/320) * $per 0 (30/320) * $per;
		}
		.accBox{
			> li{
			}
		}
		.accBtn{
			padding: (15/320) * 100vw 3em (15/320) * 100vw 0;
			font-size: 1.6rem;
			&:after{
				width: (20/30) * 1em;
				height: (20/30) * 1em;
				right: 1%;
			}
			&.show{
				&:after{
				}
			}
		}
		.accCont{
			padding-bottom: (15/320) * 100vw;
			font-size: 1.4rem;
			line-height: 1.5;
			p{
				& + p{
				}
				em{
				}
			}
		}
	}
}
/* クローバーの介護観 */
.catDayservice.pageCare{
    .inner{
        .ttl2{
            padding-bottom: 30px;
            margin-bottom: 0px;
        }
    }
    section{
        background: #FFF;
    }
    #pankz{
        background: #FFF;
    }
	.content{
		padding: 65px 0 100px;
		text-align: center;
        background-color: #EEE;
		.thisLead{
			@include noto;
			font-size: 1.6rem;
			line-height: (26/16);
			p{
				& + p{
					margin-top: 0.7em;
				}
			}
		}
	}
	.careBox{
		background:url(../img/dayservice/care/care_bg_fix.jpg) top center no-repeat;
		background-size: cover;
		background-attachment: fixed;
        padding-top: 50px;
		.box{
			background:url(../img/dayservice/care/quote.png) left 47px no-repeat rgba(255,255,255,0.3);
			padding: 80px 40px 40px;
			p{
				@include noto;
				font-size: 1.6rem;
				line-height: (26/16);
				&.name{
					margin-top: 5px;
					text-align: right;
				}
			}
		}
	}
	@include mq{
		.content{
			padding: (25/320) * $per 0 (30/320) * $per;
			.thisLead{
				font-size: 1.4rem;
				text-align: left;
				line-height: 1.4;
				p{
					& + p{
						margin-top: 0.7em;
					}
				}
			}
		}
		.careBox{
			padding: (15/320) * $per 0;
			position: relative;
			.box{
				background-position: left 1em;
				background-size: 4em auto;
				padding: (30/320) * 100vw (15/320) * 100vw (15/320) * 100vw;
				font-size: 1.4rem;
				position: relative;
				p{
					font-size: inherit;
					line-height: 1.4;
					&.name{
						margin-top: 0.5em;
					}
				}
			}
		}
	}
}
/* デイサービスクローバーの一日 */
.catDayservice.pageDay{
	.dayZone{//クローバーの１日
		padding-top: 75px;
		text-align: center;
		.inner{
			&.no1{
				padding-bottom: 70px;
			}
		}
		.pageScrl{
			margin-bottom: 70px;
			font-size: 1.7rem;
			font-weight: bold;
			.clkScrl{
				width: 233px;
				padding: 9px 0;
				& + .clkScrl{
					margin-left: 33px;
				}
			}
		}
		.thisLead{
			@include noto;
			font-size: 1.6rem;
			line-height: (26/16);
		}
		.flowBox{
			max-width: 900px;
			padding: 0 20px;
			margin: 0 auto;
			position: relative;
			&:before{
				content: "";
				width: 8px;
				height: 100%;
				margin-left: -4px;
				position: absolute;
				left: 50%;
				top: 0px;
				background: #CCC;
			}
			> li{
				background-color: #fff;
				position: relative;
        border: 2px solid #CCC;
				padding:30px;
				border-radius: 10px;
				margin-top: 15px;
				display: flex;
				font-size: 1.8rem;
				text-align: left;
				align-items: top;
				@include noto;
				.img{
					width: 12%;
					color: $mainColor;
				}
				dt{
					font-weight: bold;
					padding-bottom: 5px;
				}
				dd{
					p{
						display: inline-block;
						width: 80px;
						height: 80px;
						border-radius: 50%;
						color: #FFF;
						position: absolute;
						right: -20px;
						top: -20px;
						font-size: 1.4rem;
						text-align: center;
						background: $mainColor;
						&:after{
							content: "";
							display: inline-block;
							border-top: 20px solid $mainColor;
							border-right: 10px solid transparent;
							border-left: 10px solid transparent;
							position: absolute;
							right:40px;
							top: 70px;
							transform: rotate(25deg);
						}
						a{
							display: inline-block;
							padding-top: 20px;
							&:before{
								content: "";
								width: 7px;
								height: 7px;
								margin-right: 3px;
								border-top: 2px solid #FFF;
								border-right: 2px solid #FFF;
								transform: rotate(45deg);
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
	.payZone{//利用料金
		padding: 70px 0 120px;
		.thisLead{
			background-color: #fff;
			padding: 30px 20px;
			border-radius: 5px;
			dt{
				margin-bottom: 0.5em;
				color: $mainColor;
				font-size: 2.0rem;
				font-weight: bold;
			}
			dd{
				@include noto;
				font-size: 1.6rem;
				line-height: (26/16);
			}
		}
		h4{
			margin: (77/(23 * 1.4)) * 1em 0 (20/23) * 1em;
			padding-bottom: (15/(23 * 1.4)) * 1em;
			color: #000;
			font-size: 2.3rem;
			border-bottom: 2px solid #499745;
		}
		h5{
			margin:2em 0 1em;
			padding-left: 15px;
			font-size: 1.6rem;
			font-weight: bold;
			position: relative;
			&:before{
				content: "";
				display: inline-block;
				background-color: #499745;
				width: 4px;
				position: absolute;
				top: 5px;
				bottom: 5px;
				left: 0;
			}
		}
		table{
			width: 100%;
			@include noto;
			font-size: 1.6rem;
			border: 1px solid #ccc;
		}
		th,
		td{
			padding: 8px 10px;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		th{
			background-color: #499745;
			width: 200px;
			color: #fff;
		}
		td{
			background-color: #fff;
		}
		thead{
			td{
				background-color: #e5e5e7;
			}
		}
		tbody{
		}
		small{
			margin-top: 10px;
			@include noto;
			font-size: 1.2rem;
		}
		ul{
			display: flex;
			justify-content: space-between;
			> li{
				width: (380/800) * $per;
				th{
					width: 150px;
				}
			}
		}
	}
	@include mq{
		.dayZone{//クローバーの１日
			padding-top: 7%;
			.inner{
				&.no1{
					padding-bottom: 7%;
				}
			}
			.pageScrl{
				margin-bottom: 7%;
				font-size: 1.2rem;
				.clkScrl{
					width: 48%;
					padding: 3vw 0;
					& + .clkScrl{
						margin-left: 2%;
					}
				}
			}
			.thisLead{
				font-size: 1.4rem;
			}
			.flowBox{
				padding: 0 (15/320) * 100vw;
				&:before{
					width: (8/320) * 100vw;
					margin-left: -(4/320) * 100vw;
				}
				> li{
					border-width: (1/320) * 100vw;
					padding:(15/320) * 100vw;
					border-radius: 5px;
					margin-top: (15/320) * 100vw;
					display: block;
					font-size: 1.6rem;
					.img{
						width: auto;
						margin: 0 (50/320) * 100vw (5/320) * 100vw 0;
					}
					dt{
						margin-right: (50/320) * 100vw;
						padding-bottom: (5/320) * 100vw;
					}
					dd{
						p{
							width: 6em;
							height: 6em;
							right: -1.2em;
							top: -1.2em;
							font-size: 1.2rem;
							&:after{
								border-top-width: 1em;
								border-right-width: 0.5em;
								border-left-width: 0.5em;
								right:4em;
								top: 5.3em;
							}
							a{
								padding-top: 1.5em;
								&:before{
									width: 0.5em;
									height: 0.5em;
									margin-right: 0.25em;
									border-top-width: 0.2em;
									border-right-width: 0.2em;
								}
							}
						}
					}
				}
			}
		}
		.payZone{//利用料金
			padding: 7% 0 10%;
			.thisLead{
				padding: (15/320) * 100vw;
				dt{
					font-size: 1.6rem;
				}
				dd{
					font-size: 1.4rem;
				}
			}
			h4{
				margin: 10% 0 5%;
				padding-bottom: 2%;
				font-size: 1.6rem;
				border-bottom-width: (2/320) * 100vw;
			}
			h5{
				padding-left: (10/320) * 100vw;
				font-size: 1.2rem;
				&:before{
					width: (4/320) * 100vw;
					top: (3/320) * 100vw;
					bottom: (3/320) * 100vw;
				}
			}
			table{
				font-size: 1.0rem;
			}
			th,
			td{
				padding: (5/320) * 100vw (5/320) * 100vw;
			}
			th{
				width: auto;
			}
			td{
			}
			thead{
				td{
				}
			}
			tbody{
			}
			small{
				margin-top: 2%;
				font-size: 1.0rem;
			}
			ul{
				display: block;
				> li{
					width: auto;
					& + li{
						h5{
							margin-top: 2em !important;
						}
					}
					th{
						width: 30%;
					}
				}
			}
		}
	}
}


