@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.header{
	.hdIn{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 90px;
		padding: 0px 15px;
		box-sizing: border-box;
		> .colL{
			max-width: (170/1400) * $per;
			.logo{
				max-width: 170px;
				a{
					display: block;
					@include hvr;
				}
			}
		}
		> .colR{
			display: flex;
			justify-content: right;
			align-items: center;
			padding-left: 15px;
		}
		.spBtnMenu{display: none;}
<<<<<<< HEAD
		.nav{
			.layer1{
=======
		.nav.layer1{
			ul{
>>>>>>> b0d8131de9d74e7bc413c730cf783d828e673710
				display: flex;
				align-items: center;
				font-size: 1.6rem;
				border-right: 1px dotted #929292;
				> li{
					padding: 5px 15px;
					border-left: 1px dotted #929292;
					a{
						display: inline-block;
						text-align: center;
<<<<<<< HEAD
						br{
							display: none;
						}
					}
					.layer2{
						display: none;
						width: 100%;
						padding-top: 30px;
						color: #fff;
						position: absolute;
						top: 65px;
						left: 0;
						text-align: center;
						.in{
							background-color: rgba(53,143,49,0.8);
							padding: 20px 10px;
							a{
								font-family: "Noto Sans Japanese";
								font-size: 1.6rem;
								& + a{
									margin-left: 25px;
								}
							}
						}
=======
						&.show{
							color: $mainColor;
						}
						br{
							display: none;
						}
>>>>>>> b0d8131de9d74e7bc413c730cf783d828e673710
					}
				}
			}
		}
		.tel{
			width: (185/1140) * $per;
			margin-left: 35px;
		}
		.btnWrap{
			margin-left: 20px;
			a{
				display: flex;
				align-items: center;
				font-size: 1.6rem;
				@include hvr;
				svg{
					width: (22/16) * $em1;
					height: (18/16) * $em1;
				}
				span{
					display: inline-block;
					font-family: "Noto Sans Japanese";
					letter-spacing: -0.05em;
					br{
						display: none;
					}
<<<<<<< HEAD
=======
				}
			}
		}
	}
	nav.layer2{
		width: 100%;
		color: #fff;
		text-align: center;
		position: relative;
		ul{
			li{
				display: none;
				background-color: rgba(53,143,49,0.8);
				width: 100%;
				padding: 20px 10px;
				position: absolute;
				top: 0;
				left: 0;
			}
			a{
				font-family: "Noto Sans Japanese";
				font-size: 1.6rem;
				& + a{
					margin-left: 25px;
				}
			}
		}
	}
	@include mq($breakpoint:etc1){
		.hdIn{
			.nav.layer1{
				ul{
					font-size: 1.4rem;
					li{
						padding: 5px 10px;
					}
				}
			}
			.tel{
				margin-left: 20px;
			}
			.btnWrap{
				margin-left: 10px;
				a{
					padding: 5px 10px;
					font-size: 1.3rem;
					span{
						br{
							display: inline;
						}
					}
				}
			}
		}
	}
	@include mq($breakpoint:etc2){
		.hdIn{
			padding: 15px 10px;
			.nav.layer1{
				ul{
					font-size: 1.2rem;
					border-right: none;
					li{
						padding: 5px;
						border-left: none;
						a{
							br{
							}
						}
					}
				}
			}
			.tel{
				width: 24%;
				margin-left: 15px;
			}
			.btnWrap{
				a{
					font-size: 1.2rem;
>>>>>>> b0d8131de9d74e7bc413c730cf783d828e673710
				}
			}
		}
	}
<<<<<<< HEAD
	@include mq($breakpoint:etc1){
		.hdIn{
			.nav{
				ul{
					font-size: 1.4rem;
					li{
						padding: 5px 10px;
					}
				}
			}
			.tel{
				margin-left: 20px;
			}
			.btnWrap{
				margin-left: 10px;
				a{
					padding: 5px 10px;
					font-size: 1.3rem;
					span{
						br{
							display: inline;
						}
					}
				}
			}
		}
	}
	@include mq($breakpoint:l){
		.hdIn{
			padding: 15px 10px;
			.nav{
				ul{
					font-size: 1.2rem;
					li{
						a{
							br{
								display: inline;
							}
						}
					}
				}
			}
			.tel{
				width: 24%;
				margin-left: 15px;
			}
			.btnWrap{
				a{
					font-size: 1.2rem;
				}
			}
		}
	}
	@include mq($breakpoint:pc){
		.hdIn .nav .layer1{
=======
	@include mq($breakpoint:pc){
		.hdIn .nav.layer1 ul{
>>>>>>> b0d8131de9d74e7bc413c730cf783d828e673710
			display: flex !important;
		}
	}
	@include mq{
		.hdIn{
			display: block;
			padding: 0;
			position: relative;
			> .colL{
				max-width: none;
				.logo{
					max-width: none;
					height: (100/640) * 100vw;
					padding-top: (25/640) * $per;
					text-align: center;
					box-sizing: border-box;
					a{
						display: inline-block;
						max-width: (213/640) * $per;
					}
				}
			}
			> .colR{
				display: block;
				padding-left: 0;
			}
			.spBtnMenu{
				display: block;
				background:url(../img/sp_btn_menu.png) 0 0 no-repeat;
				background-size: 100% 100%;
				width: (88/640) * $per;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
			}
			.nav{
				position: relative;
				ul{
					display: none;
					background-color: rgba(255,255,255,0.9);
					width: 100%;
					font-size: 16px;
					border-bottom: 1px dotted #929292;
					border-right: none;
					position: absolute;
					top: 0;
					left: 0;
					li{
						padding: 0;
						border-top: 1px dotted #929292;
						border-left: none;
						a{
							display: block;
							padding: 3%;
							br{
								display: none;
							}
						}
					}
				}
			}
			.tel{
				display: none;
			}
			.btnWrap{
				display: none;
			}
		}
	}
}


#pankz{
	padding: 10px 20px;
	color: #fff;
	font-family: "Noto Sans Japanese";
	font-size: 14px;
}


footer{
	padding-bottom: 40px;
	font-family: "Noto Sans Japanese";
	text-align: center;
	.part1{
		background-color: #333;
		padding: 30px 0;
		> .inner{
			display: flex;
			justify-content: space-around;
			align-items: center;
			.tel{
				width: 185px;
				padding-right: 10px;
			}
			.ftSns{
				display: flex;
				justify-content: space-around;
				width: (236) * 4 * 1px;
				border-left: 1px solid rgba(255,255,255,0.1);
				> li{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 25%;
					padding: 10px 0;
					border-right: 1px solid rgba(255,255,255,0.1);
					a{
						display: inline-block;
						color: #fff;
						@include hvr;
						dl{
							display: flex;
							justify-content: space-around;
							align-items: center;
							background:url(../img/icn_blank.png) right center no-repeat;
							padding-right: 28px;
						}
						dt{
							padding-right: 15px;
						}
						dd{
							font-size: 1.4rem;
							text-decoration: underline;
						}
						&:hover{
							dd{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.part2{
		padding: 40px 0;
		.in{
			margin-bottom: 80px;
		}
		.logo{
			margin-bottom: 54px;
			a{
				display: inline-block;
				@include hvr;
			}
		}
		.layer1{
			display: flex;
			border-right: 1px dotted #929292;
			> li{
				width: 20%;
				padding: 0 (30/1200) * $per;
				text-align: left;
				border-left: 1px dotted #929292;
				h3{
					margin-bottom: 10px;
					color: #358f31;
					font-size: 1.6rem;
					font-weight: bold;
				}
				.layer2{
					> li{
						font-size: 1.4rem;
						& + li{
							margin-top: 5px;
						}
					}
				}
			}
		}
		#copyRight{
			color: #333;
			font-size: 1.4rem;
		}
	}
	@include mq($breakpoint:l){
		.part1{
			> .inner{
				.ftSns{
					> li{
						a{
							margin-right: 10px;
							dl{
								padding-left: 10px;
								padding-right: 23px;
							}
							dt{
								padding-right: 10px;
							}
							dd{
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
	}
	@include mq($breakpoint:pc){
		.part2 .layer1 > li .layer2{
			display: block !important;
		}
	}
	@include mq{
		padding-bottom: 5%;
		.part1{
			padding: (15/640) * $per 0;
			> .inner{
				.tel{
					width: 50%;
					padding-right: 0;
					img{
						max-width: (240/290) * $per;
					}
				}
				.ftSns{
					width: 50%;
					> li{
						justify-content: right;
						width: 25%;
						padding: 1% 0 1% 10%;
						border-right: none;
						a{
							margin-right: 0;
							dl{
								background:none;
								padding-left: 0;
								padding-right: 0;
							}
							dt{
								padding-right: 0;
							}
							dd{
								display: none;
							}
						}
					}
				}
			}
		}
		.part2{
			padding: (20/640) * $per 0;
			.in{
				display: flex;
				flex-direction: column-reverse;
				margin-bottom: (30/580) * $per;
			}
			.logo{
				margin:(40/580) * $vw 0 0;
				a{
					width: (205/580) * $per;
				}
			}
			.layer1{
				display: block;
				border-right: none;
				> li{
					width: auto;
					padding: 3vw 0;
					border-bottom: 1px solid #529f4f;
					border-left: none;
					h3{
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 0;
						font-size: 1.2rem;
						font-weight: normal;
						&:after{
							content: "";
							display: inline-block;
							width: 0.8em;
							height: 0.8em;
							margin: -0.5em 0.2em 0 0;
							border-style: solid;
							border-width: 0 0.2em 0.2em 0;
							border-color: transparent #529f4f #529f4f transparent;
							box-sizing: border-box;
							transform: rotate(45deg);
						}
						&.show{
							&:after{
								margin: 0 0.2em -0.5em 0;
								transform: rotate(-135deg);
							}
						}
					}
					.layer2{
						display: none;
						margin-top: 1vw;
						> li{
							font-size: 1.0rem;
							& + li{
								margin-top: 0;
							}
						}
					}
				}
			}
			#copyRight{
				font-size: 0.7rem;
			}
		}
	}
}


