@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  経営理念
---------------------------------------*/
.catManagement{
}
/* トップ */
.catManagement.pageTop{
    @include mq{
        width: 100%;
        overflow: hidden;
    }
	.content{
		padding: 90px 0 70px;
        @include mq{
            padding: 30px 0;
        }
		.block1{
			margin-bottom: 60px;
			text-align: center;
			@include mq{
				margin-bottom: 20px;
			}
			h3{
				margin-bottom: 50px;
				font-size: 3.5rem;
				@include mq{
					margin-bottom: 25px;
					font-size: 2.2rem;
				}
			}
			p{
				font-size: 1.8rem;
				& + p{
					margin-top: 1em;
					line-height: 2;
				}
				strong{
					display: block;
					font-size: 1.4em;
				}
				@include mq{
					font-size: 1.4rem;
					text-align: left;
					> br{
						display: none;
					}
				}
			}
		}
		.menus{
			> a{
				display: flex;
				color: #f8f8f8;
				@include hvr;
				& + a{
					margin-top: 25px;
				}
                @include mq{
                    display: block
                }
				&:nth-child(even){
					flex-direction: row-reverse;
				}
				&:before{
					content: "";
					display: block;
					flex-shrink: 0;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					width: (811/1205) * $per;
                    @include mq{
                        width: 100%;
                        height: 40vw;
                        background-size: 100% auto;
                    }
				}
				&:nth-child(1):before{background-image: url(../img/management/menu01.png);}
				&:nth-child(2):before{background-image: url(../img/management/menu02.png);}
				&:nth-child(3):before{background-image: url(../img/management/menu03.png);}
				> div{
					background-color: $mainColor;
					width: 100%;
					padding: 70px 15px 80px;
					text-align: center;
                    box-sizing: border-box;
                    @include mq{
                        padding: 5%;
                    }
					h2{
						font-size: 3.5rem;
                        @include mq{
                            font-size: 1.8rem;
                        }
						em{
							display: block;
							font-size: (50/35) * 1em;
							opacity: 0.2;
							&.szS{
								font-size: (42/35) * 1em;
							}
                            @include mq{
                                line-height: 1;
                            }
						}
						span{
							display: block;
							margin-top: 0.4em;
							line-height: 1.2;
							small{
								font-size: 0.8em;
							}
						}
					}
					.btnWrap{
						margin-top: 30px;
						@include noto;
                        @include mq{
                            margin-top: 3%;
                        }
						span{
							display: inline-flex;
							align-items: center;
							padding: 0.7em 1.5em;
							font-size: 1.8rem;
							border: 1px solid #f8f8f8;
							@include arrow($bdc:#f8f8f8, $bdw:0.2em);
							&:before{
								width: 0.6em;
								height: 0.6em;
							}
                            @include mq{
                                
                                padding: 0.5em;
                                font-size: 1.2rem;
                            }
						}
					}
				}
			}
		}
	}
}
/* ブログ一覧 */
.catManagement.pageBlog{
	.content{
		padding: 50px 0;
		text-align: center;
        @include mq{
            .lead1{
                font-size: 1.2rem;
            }
        }
		.blogList{
      text-align: center;
      @include mq{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
			@include noto;
			> li{
				width: 17%;
        display: inline-block;
        margin: 0 1% 50px 1%;
        vertical-align: top;
				margin-bottom: 50px;
                @include mq{
                    width: 46%;
                    margin:0 0 25px 0;
                }
				a{
					display: block;
          &.btnTwt,&.btnInsta{
            display: inline-block;  
            vertical-align: middle;
            margin: 10px 5px;
            img{
              max-width: 30px;
              height: auto;
            }
          }
					dl{
						dt{
							span{
								img{
									transition: 0.3s;
								}
							}
						}
						dd{
							margin-top: 1em;
							font-size: 1.6rem;
							line-height: (24/16);
                            @include mq{
                                font-size: 1.2rem;
                                margin-top: 3px;
                                
                            }
						}
					}
					&:hover{
						text-decoration: none;
						dl{
							dt{
								span{
									img{
										transform: scale(1.1);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

