@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  トップページ
---------------------------------------*/
.pageSitetop{
	.main{
		padding-top: 5px;
		margin-bottom: 8px;
		@keyframes mainSld1{//1400pxは背景画像の横幅
			0%{background-position: 0 top;}
			100%{background-position: 1860px top;}
		}
		@keyframes mainSld2{
			0%{background-position: 0 top;}
			100%{background-position: -1860px top;}
		}
		.bg1{
			background:url(../img/top/main_bg1.png) center top repeat-x;
			background-size: 100% auto;
			padding-top: (280/1800) * $per;
//			animation-name:mainSld1;
//			animation-duration: 30s;
//			animation-timing-function: linear;
//			animation-iteration-count: infinite;
//			animation-fill-mode: forwards;
            
		}
		.bg2{
			background:url(../img/top/main_bg2.png) center top repeat-x;
			background-size: 100% auto;
			padding-top: (280/1800) * $per;
//			animation-name:mainSld2;
//			animation-duration: 30s;
//			animation-timing-function: linear;
//			animation-iteration-count: infinite;
//			animation-fill-mode: forwards;
		}
		h1{
			background-color: #fff;
			padding: 25px;
			font-size: 5rem;
			text-align: center;
			.in{
				display: inline-block;
			}
			line-height: 1.2;
			small{
				font-size: 80%;
        color: rgba(0,0,0,0.7);
			}
			span{
				display: block;
				padding-top: 10px;
				font-size: 2rem;
				text-align: right;
				@include mq{
					font-size: 1rem;
				}
				a{
					color: $mainColor;
					&:after{
						content: "";
						display: inline-block;
						width: 8px;
						height: 8px;
						border-top: 2px solid $mainColor;
						border-right: 2px solid $mainColor;
						transform: rotate(45deg);
						@include mq{
								width: 4px;
								height: 4px;
						}
					}
				}
			}
		}
		@include mq{
			margin-bottom: (8/640) * $per;
			.bg1{
                background:url(../img/top/main_bg1_sp.png) center top no-repeat;
				background-size: cover;
				height: 17vw;
			}
			.bg2{
                background:url(../img/top/main_bg2_sp.png) center top no-repeat;
				background-size: cover;
				height: 17vw;
			}
			h1{
				padding: (30/640) * $per (20/640) * $per;
				font-size: 2rem;
			}
			@include mq{

			}
		}
	}
	.serviceZone{
		background-color: #f2f2f2;
		padding: 70px 0 60px;
		text-align: center;
		overflow: hidden;
		.topServiceSlk{
			margin: 0 -10px;
			.liItem{
				dl{
					margin: 0 10px;
					dt{
						margin-bottom: 20px;
						span{
							display: inline-block;
							position: relative;
							img{
								position: relative;
								z-index: 3;
							}
						}
					}
					dd{
						strong{
							display: block;
							margin-bottom: 15px;
							font-size: 2.4rem;
							font-weight: bold;
						}
						p{
							@include noto;
							font-size: 1.6rem;
							line-height: 1.5;
						}
						
						&.spB{
							display: none;
							@include mq{
								display: block;
							}
						}
					}
				}
			}
		}
		@include mq{
			padding: (40/640) * $per 0 (65/640) * $per;
			.inner{
				padding-left: 0;
				padding-right: 0;
			}
			.topServiceSlk{
				margin: 0;
				.liItem{
					dl{
						margin: 0 5%;
						dt{
							margin-bottom: (20/640) * 100vw;
							span{
								&:before{
								}
								&:after{
								}
								img{
								}
							}
						}
						dd{
							strong{
								margin-bottom: (15/640) * 100vw;
								font-size: 1.2rem;
							}
							p{
								font-size: 1rem;
                                br{
                                    display: none;
                                }
							}
						}
					}
				}
			}
		}
	}
	.newsZone{
		padding: 80px 0 70px;
		.topNewsSlk{
			margin: 0 -12px;
      img{
        height: auto;
      }
			.liItem{
				> a{
					display: block;
					margin: 0 12px;
					@include hvr;
				}
				dl{
					dt{
						margin-bottom: 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            overflow: hidden;
            height: 150px;
            border: 1px solid #CCC;
					}
					dd{
						@include noto;
						font-size: 1.4rem;
						line-height: (22/14);
						small{
							display: block;
							color: #666;
						}
						p{
						}
					}
				}
			}
		}
		@include mq{
			padding: (124/640) * $per 0 (24/640) * $per;
			.topNewsSlk{
				.slick-slider{
					padding-bottom: (40/640) * 100vw;
				}
				.slick-dots{
					bottom: 0;
				}
				margin: 0 (-(12/640) * 100vw);
				.liItem{
					> a{
						margin: 0 (12/640) * 100vw;
					}
					dl{
						dt{
							margin-bottom: (10/640) * 100vw;
						}
						dd{
							font-size: 1rem;
							small{
							}
							p{
							}
						}
					}
				}
			}
		}
	}
	.officeZone{
		background:#30972b;
		padding: 50px 0 70px;
		.inner{
			max-width: 1400px;
      @include mq{
        padding-bottom: 27vw;
      }
		}
		.ttl1{
			color: #fff;
            em{
                color: #fff;
            }
            &:before{
                background-color: #FFF;
            }
			> div{
				> em{
					color: inherit;
				}
			}
		}
		ul{
			padding-top: 34.3%;
			position: relative;
			li{
				position: absolute;
				overflow: hidden;
				&.item{
					//幅
					&Sendagaya{width:16%}
					&Yoyogiuehara{width:32.5%}
					&Hiroo{width:16%}
					&Azabujuban{width:16%}
					&Sangubasi{width:16%}
					&Kagurazaka{width:32.5%}
					&Yotuya{width:16%}
					&Motoyawata2{width:16%}
					&Motoyawata{width:16%}
					&Gakudai{width:16%}
					//位置 上下
					&Sendagaya,
					&Yoyogiuehara,
					&Sangubasi,
					&Motoyawata{top:0;}
					&Motoyawata2{top:0;}
					&Hiroo,
					&Azabujuban,
					&Kagurazaka,
					&Gakudai,
					&Yotuya{bottom:0;}
          
					//位置 左右
          &Yoyogiuehara{left:0;}
					&Sendagaya{left:33%;}
					&Kagurazaka{left:33%;}
					&Azabujuban{left:66%;}
					&Yotuya{left:16.5%;}
					&Hiroo{left:0;}
					&Sangubasi{left:49.5%;}
					&Motoyawata{left:66%;}
					&Motoyawata2{left:66%;}
					&Gakudai{right:1.5%;}
				}
				a{
					display: block;
					@include scale11;
					img{
					}
				}
			}
		}
		@include mq{
			padding: (54/640) * $per 0 (12/640) * $per;;
			.inner{
				max-width: none;
				padding-left: 0;
				padding-right: 0;
			}
			.ttl1{
				> div{
					> em{
					}
				}
			}
			ul{
				$officeZoneW: 640;
				$officeZoneH: 1291;
				padding-top: ($officeZoneH/$officeZoneW) * $per;
				li{
					&.item{
						//幅
						&Sendagaya{width:(304/$officeZoneW) * $per}
						&Yoyogiuehara{width:(303/$officeZoneW) * $per}
						&Hiroo{width:(305/$officeZoneW) * $per}
						&Azabujuban{width:(305/$officeZoneW) * $per}
						&Sangubasi{width:(302/$officeZoneW) * $per}
						&Kagurazaka{width:(301/$officeZoneW) * $per}
						&Yotuya{width:(301/$officeZoneW) * $per}
						&Motoyawata{width:96%}
						&Motoyawata2{width:(301/$officeZoneW) * $per}
						&Gakudai{width:96%}
						//位置 上下
						&Yoyogiuehara{top: 0;bottom: auto;}
						&Sendagaya{top:23.2%;bottom: auto;}
						&Sangubasi{top: 0;bottom: auto;}
						&Motoyawata{top:76%;}
						&Motoyawata2{top: 76%;bottom: auto;}
						&Hiroo{top: 52%;bottom: auto;}
						&Azabujuban{top: auto;bottom: 5%;}
						&Kagurazaka{top: (308/$officeZoneH) * $per;bottom: auto;}
						&Yotuya{top: 55%;bottom: auto;}
						&Gakudai{top: 96%;bottom: auto; right: 2%;
              &.gakudai2{
                top: 94%
              }
            }

						//位置 左右
						&Sendagaya,
						&Yoyogiuehara,
						&Hiroo,
						&Azabujuban{left:(12/$officeZoneW) * $per;right: auto;}
						&Sangubasi,
						&Kagurazaka,
						&Yotuya,
						&Motoyawata{left: auto;right:(12/$officeZoneW) * $per;}
            &Motoyawata2{left: auto;right:(12/$officeZoneW) * $per;}
					}
					a{
						img{
						}
					}
				}
			}
		}
	}
}


