@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  トップページ
---------------------------------------*/
.pageSitetop{
	.main{
		@keyframes mainSld1{//1400pxは背景画像の横幅
			0%{background-position: 0 top;}
			100%{background-position: 1400px top;}
		}
		@keyframes mainSld2{
			0%{background-position: 0 top;}
			100%{background-position: -1400px top;}
		}
		.bg1{
			background:url(../img/top/main_bg1.png) center top repeat-x;
			height: 279px;
			animation-name:mainSld1;
			animation-duration: 20s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		.bg2{
			background:url(../img/top/main_bg2.png) center top repeat-x;
			height: 275px;
			animation-name:mainSld2;
			animation-duration: 20s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		h2{
			background-color: #fff;
			padding: 25px;
			font-size: 4.5rem;
			text-align: center;
		}
	}
	.serviceZone{
		background-color: #f2f2f2;
		padding: 70px 0 60px;
		text-align: center;
		ul{
			display: flex;
			justify-content: space-between;
			li{
				width: 31%;
				dl{
					dt{
						margin-bottom: 20px;
						img{
						}
					}
					dd{
						strong{
							display: block;
							margin-bottom: 15px;
							font-size: 2.4rem;
							font-weight: bold;
						}
						p{
							font-family: "Noto Sans Japanese";
							font-size: 1.6rem;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
	.newsZone{
		padding: 80px 0 70px;
		.slkBox1{
			.liItem{
				> a{
					display: block;
					@include hvr;
				}
				dl{
					dt{
						margin-bottom: 10px;
					}
					dd{
						font-family: "Noto Sans Japanese";
						font-size: 1.4rem;
						line-height: (22/14);
						small{
							display: block;
							color: #666;
						}
						p{
						}
					}
				}
			}
		}
	}
}


