@charset "UTF-8";

@import "mq";
@import "var";

/*--------------------------------------
  トップページ
---------------------------------------*/
.pageSitetop{
	.main{
		margin-bottom: 8px;
		@keyframes mainSld1{//1400pxは背景画像の横幅
			0%{background-position: 0 top;}
			100%{background-position: 1400px top;}
		}
		@keyframes mainSld2{
			0%{background-position: 0 top;}
			100%{background-position: -1400px top;}
		}
		.bg1{
			background:url(../img/top/main_bg1.png) center top repeat-x;
			height: 279px;
			animation-name:mainSld1;
			animation-duration: 20s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		.bg2{
			background:url(../img/top/main_bg2.png) center top repeat-x;
			height: 275px;
			animation-name:mainSld2;
			animation-duration: 20s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-fill-mode: forwards;
		}
		h2{
			background-color: #fff;
			padding: 25px;
			font-size: 4.5rem;
			text-align: center;
		}
	}
	.serviceZone{
		background-color: #f2f2f2;
		padding: 70px 0 60px;
		text-align: center;
		overflow: hidden;
		ul{
			display: flex;
			justify-content: space-between;
			li{
				width: 31%;
				dl{
					dt{
						margin-bottom: 20px;
						span{
							display: inline-block;
							position: relative;
							&:before{
								z-index: 1;
								content: "";
								width: 100%;
								height: 100%;
								display: block;
								background: #e3e3e3;
								opacity: 0.5;
								border-radius: 50%;
								animation: rotation2 5s both infinite linear;
								position: absolute;
								left: 0;
								top: 0;
							}
							&:after{
								z-index: 1;
								content: "";
								width: 98%;
								height: 98%;
								display: block;
								background: #e3e3e3;
								border-radius: 50%;
								opacity: 0.5;
								animation: rotation1 4s both infinite linear;
								position: absolute;
								left: 2%;
								top: 0;
							}
							img{
								position: relative;
								z-index: 3;							}
						}
					}
					dd{
						strong{
							display: block;
							margin-bottom: 15px;
							font-size: 2.4rem;
							font-weight: bold;
						}
						p{
							font-family: "Noto Sans Japanese";
							font-size: 1.6rem;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}
	.newsZone{
		padding: 80px 0 70px;
		.slkBox1{
			.slick-slider{
				margin-bottom: 0;
			}
			margin: 0 -12px;
			.liItem{
				> a{
					display: block;
					margin: 0 12px;
					@include hvr;
				}
				dl{
					dt{
						margin-bottom: 10px;
					}
					dd{
						padding-bottom: 10px;
						font-family: "Noto Sans Japanese";
						font-size: 1.4rem;
						line-height: (22/14);
						small{
							display: block;
							color: #666;
						}
						p{
						}
					}
				}
			}
		}
	}
	.officeZone{
		background:linear-gradient(#89972c, #30972b);
		padding: 50px 0 70px;
		.inner{
			max-width: 1400px;
		}
		.ttl1{
			color: #fff;
			> div{
				> em{
					color: inherit;
				}
			}
		}
		ul{
			padding-top: (584/1400) * $per;
			position: relative;
			li{
				position: absolute;
				overflow: hidden;
				&.item{
					//幅
					&Sendagaya{width:(273/1400) * $per}
					&Yoyogiuehara{width:(555/1400) * $per}
					&Hiroo{width:(272/1400) * $per}
					&Azabujuban{width:(272/1400) * $per}
					&Sangubasi{width:(272/1400) * $per}
					&Kagurazaka{width:(555/1400) * $per}
					&Yotuya{width:(272/1400) * $per}
					&Motoyawata{width:(272/1400) * $per}
					//位置 上下
					&Sendagaya,
					&Yoyogiuehara,
					&Sangubasi,
					&Motoyawata{top:0;}
					&Hiroo,
					&Azabujuban,
					&Kagurazaka,
					&Yotuya{bottom:0;}
					//位置 左右
					&Sendagaya{left:0;}
					&Yoyogiuehara{left:(565/1400) * $per;}
					&Hiroo{left:(565/1400) * $per;}
					&Azabujuban{right: 0;}
					&Sangubasi{left:(283/1400) * $per;}
					&Kagurazaka{left:0;}
					&Yotuya{left:(847/1400) * $per;}
					&Motoyawata{right:0;}
				}
				a{
					display: block;
					@include scale11;
					img{
					}
				}
			}
		}
	}
	.btmLinkZone{
		.in{
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			a{
				display: block;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				width: (695/1400) * $per;
				font-family: "Noto Sans Japanese";
				@include hvr;
				&.btnNo1{background-image: url(../img/top/btm_link_img01.png);}
				&.btnNo2{background-image: url(../img/top/btm_link_img02.png);}
				&:hover{text-decoration: none;}
				dl{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					padding: 165px 10px 140px;
					color: #fff;
					font-weight: bold;
					dt{
						margin-bottom: 34px;
						font-size: 3.6rem;
					}
					dd{
						display: inline-block;
						padding: 11px 48px;
						font-size: 2.2rem;
						border: 1px solid #fff;
					}
				}
			}
		}
	}
}


