@charset "UTF-8";

@import "mq";
@import "var_recruit";


.content-area {
  p {
    padding-bottom: 1em;
  }
}

.entry-meta {
  display: none;
}

.current-cat {
  a {
    color: #CCC;
    font-weight: bold;
  }
}

.cat-item-13,
.cat-item-12 {
  & > a {
    cursor: text;

    &:hover {
      text-decoration: none;

    }
  }
}

.wrap {
  @include noto;
}

//募集職種一覧(/career/job/)
.job-tag {
  padding-top: 55px;
  text-align: center;

  @include mq {
    padding-top: 5%;
  }

  .partTtl {
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid $mainColor;

    > li {
      background-color: #AFAFAF;
      width: 49%;
      padding: 0.9em 0.5em 0.8em;
      color: #fff;
      font-size: 2.0rem;
      font-weight: bold;
      border-radius: 8px 8px 0 0;
      box-sizing: border-box;
      cursor: pointer;
      transition: 0.3s;

      @include mq {
        font-size: 1.3rem;
      }

      &:hover {
        opacity: 0.7;
      }

      &.show {
        background-color: $mainColor;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .partTag {
    background-color: #fff;
    padding: 25px 10px 10px;

    @include mq {
      padding: 5% 3%;
    }

    > li {
      display: none;

      &.show {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include mq {
          display: block;
        }
      }

      a {
        display: block;
        width: 23%;
        margin: 0 1% 2.4%;
        padding: 0.6em 0.5em;
        color: $mainColor;
        font-size: 1.6rem;
        font-weight: bold;
        border: 2px solid $mainColor;
        border-radius: 100px;
        box-sizing: border-box;
        transition: 0.3s;

        @include mq {
          width: auto;
          margin: 0 0 3%;
          font-size: 1.4rem;
        }

        &:hover {
          background-color: $mainColor;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

//カテゴリー(/career/job/category/～)
.list-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  font-size: 1.6rem;

  @include mq {
    display: block;
    padding: vw(30);
  }

  #primary {
    width: 100%;
    max-width: 800px;

    .job-list-title {
      margin-bottom: 1.0em;
      padding-left: 0.5em;
      font-size: 3rem;
      text-align: left;
      border-left: 8px solid $mainColor;

      @include mq {
        margin-bottom: 0.8em;
        font-size: 2.2rem;
        border-left-width: vw(8);
      }
    }

    #main {
      padding-right: 40px;

      @include mq(l) {
        padding-right: vwL(40);
      }

      @include mq {
        padding: 0 0 vw(40);
      }
    }
  }

  #secondary {
    flex-shrink: 0;
    width: 200px;

    @include mq {
      width: auto;
    }

    section {
      h2 {
        background-color: $mainColor;
        padding: 0.2em 0.5em 0.3em;
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
      }

      li {
        a {
          display: block;
          padding: 0.2em 0.5em 0.3em;
        }
      }

      > ul {
        > li {
          > a {
            background-color: #CDCDCD;
            color: #7B7B7B;
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }

      ul.children,
      ul.wp-tag-cloud {
        > li {
          + li {
            border-top: 1px dashed #707070;
          }

          > a {
            padding: 0.5em;
            font-size: 1.4rem !important;
          }
        }
      }
    }
  }

  //カテゴリー一覧


  .job-list {
    .list-item {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      margin-bottom: 15px;
      border-radius: 8px;
      padding: 20px 20px 12px 20px;
      @include mq{
        flex-direction: column;
        padding-bottom: 5px;
      }
      .job-photo {
        width: 18%;
        @include mq{
          width: 100%;
          margin-bottom: 3vw;
        }

        img {
          max-width: 100%;
        }
      }

      .job-table {
        width: 55%;
        @include mq{
          width: 100%;
        }
      }

      ul {
        width: 20%;
        @include mq{
          margin-top: 4vw;
          width: auto;
        }

        li {
          margin-bottom: 15px;
        }
      }

    }

    article {
      + article {
        margin-top: 10px;

        @include mq {
          margin-top: vw(20);
        }
      }
      ul{
      a {
        display: block;
        text-align: center;
        padding: 1.3em 10px;
        border-radius: 5px;
        transition: 0.3s;
        position: relative;
        color: #FFF;

        &.btn-detail {
          background: $mainColor;
        }

        &.btn-entry {
          background: #FF8D0C;
        }

        @include mq {
          padding: vw(30) vw(70) vw(30) vw(30);
        }

        &:before {
          content: "";
          display: block;
          width: 0.3em;
          height: 0.3em;
          margin: auto;
          border-bottom: 0.1em solid #FFF;
          border-right: 0.1em solid #FFF;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 5px;
          transform: translate(-0.2em, 0) rotate(-45deg);

          @include mq {
            width: 0.8em;
            height: 0.8em;
            margin: auto;
            border-bottom-width: 0.2em;
            border-right-width: 0.2em;
            right: vw(20);
          }
        }

        &:hover {
          background-color: rgba(53, 143, 49, 0.2);
          text-decoration: none;
        }
      }
      }

      h2 {
        color: $mainColor;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0.5em;
        @include mq {
          font-size: 1.6rem;
        }
      }

      h3 {
        color: #333;
        font-size: 1.4rem;
        font-weight: bold;
      }

      .job-table {
        font-size: 1.4rem;

        dl {
          display: flex;
          align-items: flex-start;
          border-top: 1px solid #EEE;
          padding: 0.4em 0 0 0;
          margin-bottom: 0.4em;

          dt {
            white-space: nowrap;
          }
        }
      }
    }
  }

  //応募詳細
  .job-detail {
    article {
      background-color: #fff;
      padding: 25px 25px 45px;
      border-radius: 5px;

      @include mq {
        padding: vw(20);
      }
    }

    .entry-header {
      margin-bottom: 1.0em;
      padding-bottom: 0.5em;
      color: $mainColor;
      font-size: 2.5rem;
      border-bottom: 3px solid $mainColor;

      @include mq {
        margin-bottom: 0.8em;
        font-size: 2.0rem;
      }
    }

    .jobDtlMain {
      display: flex;
      align-items: flex-start;
      margin-bottom: 30px;

      @include mq {
        display: block;
        margin-bottom: vw(30);
      }

    .slick-dots{
      position: relative;
      margin: 10px 0 30px 0;
      bottom: 0px;
      
    }
      .photo {
        flex-shrink: 0;
        width: percentage(300/710);

        @include mq {
          width: auto;
          margin-bottom: vw(20);
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .txt {
        width: 100%;
        padding-left: 30px;
        font-size: 1.4rem;
        box-sizing: border-box;
        @include mq {
          width: auto;
          padding-left: 0;
        }
        dl {
          dt{
          }
          dd{
            + dt{
              margin-top: 15px;
            }
          }
        }
      }
    }

    h2 {
      margin-bottom: 1.0em;
      padding-bottom: 0.5em;
      color: $mainColor;
      font-size: 1.8rem;
      border-bottom: 1px solid $mainColor;

      @include mq {
        margin-bottom: 0.8em;
      }
    }

    .job-table {
      display: table;
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      @include mq {
        display: block;
        width: auto;
      }

      dl {
        display: table-row;
        border-bottom: 1px dashed #ccc;

        @include mq {
          display: block;
          padding: 1.0em 0;

          &:nth-child(1) {
            padding-top: 0;
          }
        }

        dt {
          display: table-cell;
          width: percentage(100/710);
          padding: 1em 0;

          @include mq {
            display: block;
            width: auto;
            padding: 0;
            font-weight: bold;
          }
        }

        dd {
          display: table-cell;
          padding: 1em 0 1em 1em;

          @include mq {
            display: block;
            padding: 0.3em 0 0;
          }
        }

        &:nth-child(1) {

          dt,
          dd {
            padding-top: 0;
          }
        }
      }
    }

    .btnEntry {
      margin-top: 30px;
      text-align: center;
      &.topbtn{
        margin-top: 0px;
        margin-bottom: 20px;
      }

      @include mq {
        margin-top: vw(30);
      }

      a {
        display: inline-block;
        background-color: #FF8D0C;
        width: 364px;
        padding: 1.1em 1.2em;
        color: #fff;
        font-size: 2.0rem;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        box-sizing: border-box;
        position: relative;
        @include hvr;

        @include mq {
          display: block;
          width: auto;
          padding: 1.1em 1.5em;
          font-size: 1.6rem;
        }

        &:before {
          content: "";
          width: 0.5em;
          height: 0.5em;
          margin: auto;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          transform: translate(0, 0) rotate(-45deg);
        }
      }
    }
  }
}

//エントリー(/career/job/entry/)
.catForm.is_entry {
  .entryFormTbl {
    @include noto;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 45px 35px;
    border-radius: 5px;

    @include mq {
      padding: 5% 5%;
    }

    .hissu {
      display: inline-block;
      background-color: #FF4B4B;
      margin-right: 0.5em;
      padding: 0.1em 0.5em;
      color: #fff;
      font-size: 1.2rem;
    }
    .nini {
      display: inline-block;
      background-color: #666;
      margin-right: 0.5em;
      padding: 0.1em 0.5em;
      color: #fff;
      font-size: 1.2rem;
    }

    input[type="text"] {
      width: 80%;
      border: 1px solid #959595;
      border-radius: 5px;

      @include mq {
        width: 100%;
      }
    }

    .genderRdo {
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;
        margin-right: 1.0em;

        input[type="radio"] {
          width: 20px;
          height: 20px;
          margin-right: 0;
        }

        label {
          padding-left: 5px;
        }
      }
    }

    .birth {
      display: flex;
      align-items: center;

      @include mq {
        display: block;
      }

      li {
        display: flex;
        align-items: center;
        margin-right: 1.0em;

        @include mq {
          margin-right: 0;
        }

        select {
          @include mq {
            width: 100%;
          }
        }

        span {
          flex-shrink: 0;
          display: block;
          width: 1em;
          padding-left: 0.3em;
        }
      }

      ul {
        display: flex;
        align-items: center;

        @include mq {
          justify-content: space-between;
          margin-top: 0.5em;
        }

        li {
          @include mq {
            width: 48%;
          }
        }
      }
    }

    table {
      width: 100%;
      margin-bottom: 30px;
      font-size: 1.4rem;
      border-bottom: 1px solid #ccc;

      @include mq {
        display: block;
      }

      tbody {
        @include mq {
          display: block;
        }
      }

      tr {
        border-top: 1px solid #ccc;

        &:nth-child(odd) {
          background-color: #F3F3F3;
        }

        @include mq {
          display: block;
          padding: vw(16) vw(20);
        }
      }

      th {
        padding: 20px 10px 20px 20px;

        @include mq {
          display: block;
          padding: 0 0 vw(10);
        }
      }

      td {
        padding: 20px 20px 20px 0;

        @include mq {
          display: block;
          padding: 0;
        }
      }
    }
  }
}
