.wrap {
  background: #EEE;
  padding: 40px 0;
}

.job-wrap {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  font-size: 1.6rem;
}

.job-wrap h3 {
  font-weight: bold;
  font-size: 2rem;
  color: #358f31;
  padding-bottom: 15px;
  border-bottom: 2px solid #358f31;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.job-wrap .job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-wrap .job-list > li {
  border-radius: 5px;
  width: 31%;
  background: #FFF;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 40px;
}

.job-wrap .job-list > li li {
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 10px;
}

.job-wrap .job-list > li li .cate {
  display: inline-block;
  font-size: 1.2rem;
}

.job-wrap .widget-title {
  background: #358f31;
  color: #FFF;
  padding: 0.2em;
}
