.content-area p {
  padding-bottom: 1em;
}

.entry-meta {
  display: none;
}

.list-page {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background: #FFF;
  font-size: 1.6rem;
}

.list-page #primary {
  width: 100%;
  max-width: 800px;
}

.job-list-title {
  text-align: left;
  font-size: 3rem;
}

.job-tag {
  padding-top: 55px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .job-tag {
    padding-top: 5%;
  }
}

.job-tag .partTtl {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #358F31;
}

.job-tag .partTtl > li {
  background-color: #AFAFAF;
  width: 49%;
  padding: 0.9em 0.5em 0.8em;
  color: #fff;
  font-size: 2.0rem;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .job-tag .partTtl > li {
    font-size: 1.3rem;
  }
}

.job-tag .partTtl > li:hover {
  opacity: 0.7;
}

.job-tag .partTtl > li.show {
  background-color: #358F31;
}

.job-tag .partTtl > li.show:hover {
  opacity: 1;
}

.job-tag .partTag {
  background-color: #fff;
  padding: 25px 10px 10px;
}

@media screen and (max-width: 767px) {
  .job-tag .partTag {
    padding: 5% 3%;
  }
}

.job-tag .partTag > li {
  display: none;
}

.job-tag .partTag > li.show {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .job-tag .partTag > li.show {
    display: block;
  }
}

.job-tag .partTag > li a {
  display: block;
  width: 23%;
  margin: 0 1% 2.4%;
  padding: 0.6em 0.5em;
  color: #358F31;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid #358F31;
  border-radius: 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .job-tag .partTag > li a {
    width: auto;
    margin: 0 0 3%;
    font-size: 1.4rem;
  }
}

.job-tag .partTag > li a:hover {
  background-color: #358F31;
  color: #fff;
  text-decoration: none;
}
