@charset "utf-8";

body.mceContentBody {
	font-size: 15px!important;
    padding: 0.7em 1em!important;
    background: #fff!important;
}
.editor-rich-text__tinymce.mce-content-body,
.mce-content-body {
	font-family: sans-serif;
}
body.mceContentBody h2,
body.mceContentBody h3,
.wp-block-heading h2.editor-rich-text__tinymce,
.wp-block-heading h3.editor-rich-text__tinymce {
	padding: 0.5em;
	margin-top: 4%;
}
body.mceContentBody h2,
.wp-block-heading h2.editor-rich-text__tinymce{
	font-size: 140%;
	background: #eee;
}
body.mceContentBody h3,
.wp-block-heading h3.editor-rich-text__tinymce{
	border-left: 3px solid;
}
body.mceContentBody .editor-area {
    margin: 0px 20px 0.5em 20px;
    font-size:15px!important;
    line-height:150%;
}
body.mceContentBody p{
	margin-bottom: 2em;
}
body.mceContentBody ul{
	list-style-type: disc!important;
	padding-left: 2em!important;
}
body.mceContentBody ol{
	list-style-type: decimal!important;
	padding-left: 2em!important;
}
body.mceContentBody blockquote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: 1px solid #ddd;
	padding: 0.4em 1em;
	margin: 0;
}
body.mceContentBody pre,
.wp-block-preformatted pre {
	background:#444;
	color:#d5d5d5!important;
	padding:1em;
	margin-bottom:1em;
	font-size:0.9em;
}
